body{
  font-family: var(--default-font);
}

.typeWindows_a934d8 {
  height: 18px;
  width: 100vw;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--bg-color);
}
.wordmarkWindows_a934d8{
  color: var(--bright-color);
}
.searchBar_a46bef{
  background-color: var(--main-color);
}

.winButton_a934d8, .activity_a31c43{
  color: var(--white-color);
}

.circleIconButton_db6521, .actionButton_e01b91{
  background-color: var(--bg-color);
  color: var(--bright-color)
}
.guilds_a4d4d9 {
  
  margin: var(--standard-space);
  margin-right: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
.flowerStar_ff7d90, .dropdownButton_ee69e0, .icon__5c8c7,.icon__67ab4, .actionIcon_f6f816,.icon_a08117, .addButtonIcon_a08117, .icon_d8bfb3, .icon_d8bfb3, .icon_e44302, .lottieIcon_f73ef7{
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);

}

.clickable_fd6364{
  margin: var(--half-space);
  margin-top: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  height:46px;
}



.scroller_c43953{
  margin: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
.scroller_bf550a{
  background-color: var(--chat-color);
  margin-left:-4px;
  }


.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_c5f96a.selected_ae80f7 .childWrapper_a6ce15, .circleIconButton_db6521.selected_db6521{
  background-color:var(--bright-color);
}
.wrapper_f90abb .childWrapper_f90abb, .actionButton__2b4bb,.emptyCard__204d9{
  background-color:var(--main-color);

}

.item_fd07a3, .guildSeparator_d0c57e{
  background-color: var(--bright-color);

}
 
.container_a4d4d9, .base_a4d4d9,.theme-dark .container_ee69e0, .sidebar_a4d4d9, .theme-dark .chat_a7d72e, .content_a7d72e {
  
  background-color: var(--bg-color);
}

.search_ff5f90, .searchBarComponent_f0963d, .emptyText__18c2a, .search_a46bef .DraftEditor-root .public-DraftEditorPlaceholder-root, .iconContain{
  background-color:var(--main-color)!important;

  color: var(--white-color)!important
}


.icon_effbe2{
  filter:brightness(0) invert(1);
}
.theme-dark .scroller_fea3ef, .members_cbd271, .member_a31c43, .theme-dark .scroller_c47fa9 {
  background-color: var(--chat-color);
}

/*CHECK?*/
.privateChannels_f0963d{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: var(--half-space);
  margin-bottom: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  
}
.container_c2739c{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: var(--half-space);
  margin-top: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}
.container_b2ca13{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: var(--half-space);
  margin-top: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}
.panels_a4d4d9{
  background: var(--bg-color) !important;

}
.title_d1da5f,.defaultColor_a595eb{
  color: var(--bright-color);
}
.subtext_e06aad,.subtext_f3939d {
  color:var(--main-color)
}

.withTagAsButton_b2ca13,  .withTagless_b2ca13{
  margin-right:-3px;
}
button.button_ae40a4, span.button_ae40a4{
  color:var(--bright-color) !important;
}
button.button_ae40a4, span.button_ae40a4, .icon_ae0b42, .icon_a3b500 {
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);
}
.chatContent_a7d72e{
  margin: var(--half-space);
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}



.members_cbd271{
margin: var(--half-space);
margin-left:0px;
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
.clickable_a08117   {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--small-radius);
  background-color: var(--dark-color);
  color: var(--white-color);
  margin-left:var(--standard-space);
  margin-top:-8px;
}

.theme-dark .themed_e44302{
 margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-right: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  width:98.5%;

}

.peopleColumn__0c784{
  margin: var(--half-space);
  margin-bottom: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}

.container__3673d{
  margin: var(--half-space);
  margin-bottom: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  
}
.subtitleContainer_a7d72e, .chat__52833{
  background: var(--bg-color);
}


.scrollableContainer_d0696b{

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--dark-color);
  z-index:1000000000000000000000000000000000;
}
.channelTextArea_d0696b {
  background-color: transparent;
  border-radius: var(--border-radius);
  
}
.jumpToPresentBar_cf58b5{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin-top: var(--half-space);
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
  padding-bottom:0px;
  margin-bottom:10px;

}

.itemCard_f02fcf{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background: var(--chat-color) !important;

}

.themedBackground_d0696b{
  background: var(--dark-color)
}
.buttons_d0696b, .attachWrapper_f298d4{
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);

}
.theme-dark .form_a7d72e:before, .theme-dark .form_d8a4a1:after, .theme-dark .panel_bd8c76 {
  background:none;
}
.activityPanel_b73e7a, .container_6sXIoE{
  border-bottom: 1px solid var(--main-color)
}

.managedReactiveScroller_c49869::-webkit-scrollbar-thumb, .scrollerBase_c49869::-webkit-scrollbar-thumb {
  background: var(--bright-color);
}
.managedReactiveScroller_c49869::-webkit-scrollbar, .scrollerBase_c49869::-webkit-scrollbar {
  width: 5px;
}
.theme-dark .children_cde9af:after{
  background:none;
}

.scroller_bf550a{
  overflow: scroll !important;
}

.quickswitcher_b5bb0a{
  background-color: var(--bg-color);
    color: var(--white-color);
}

.input__2a648, .scroller_d4b86c {
  background-color: var(--chat-color);
}

.avatar_e9f61e, .avatar_b211c6, .avatar_b2ca13, .avatar_ec86aa,.avatar_f3939d{
  border: var(--border-size) solid var(--main-color);
  border-radius: 50%;
}
 .membersGroup_cbd271, .actions_bd37ed{
  color: var(--main-color);
}
.cozy_ec86aa .timestamp_ec86aa, .content_fc5f50{
  color: var(--main-color);
  background-color: var(--chat-color);
}
.searchBar__5a20a{
  background-color: var(--chat-color);
}

.modeSelected__473f1 .link_ddbb36, .interactive_c91bad:hover, .interactiveSelected_c91bad{
  background: var(--main-color) !important;
}

.modeSelected__473f1 .name__4eb92, .interactive_c91bad:hover , .interactiveSelected_c91bad, .modeConnected__52a8f .name__4eb92, .modeConnected__52a8f:hover .name__4eb92, .modeUnreadImportant__35358 .name__4eb92, .modeUnreadImportant__35358:hover .name__4eb92{  
  color: var(--bright-color)
}
.wrapper_d8bfb3.modeSelected_d8bfb3{
  background: var(--main-color) !important;
border-radius: var(--small-radius);
}

.container_bd15da{
  background: var(--bg-color)
}
.activityPanel_a4d4d9{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);

}

.container__3673d{
  background-color: var(--chat-color);
}
.interactive__0786a:hover, .wrapper__612a5:hover .link_ddbb36, .peopleListItem_dab480:hover, .peopleListItem_dab480.active__6b8ff{
  background-color: var(--dark-color);
}

.scroller__7c25e{
  border:none;
}

.container_e1958d{
  background: var(--chat-color);
  border-radius: var(--border-radius);
}

.callContainer__1477d{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-right: var(--standard-space);
}

.colorable__4f530.primaryDark_ec74a7, .colorable__4f530.primaryDark_ec74a7 .centerIcon_e3df23{
 color: var(--bright-color);
 background: var(--bg-color);
}

.colorable__4f530.white_ce1c7b, .colorable__4f530.white_ce1c7b .centerIcon_e3df23, .username_f3939d {
  color: var(--bright-color);
}

.clickable__1383f:hover {
  background-color: var(--main-color);
  border-radius: var(--border-radius);

}
.selected__987e6 .header__77c95, .clickable__1383f .header__77c95:hover {
  background-color:transparent !important;
}

.searchResultsWrap_c2b47d{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin-top: var(--half-space);
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
}

.searchHeader__4d70e{
  background-color: var(--chat-color);
}

.unread__75c9f{
  background-color: var(--main-color);

}

.container_cbd271{
  background-color: var(--bg-color);
}
